<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"
</head>
<body>
    <div class="container">
        <h2>게시판 목록</h2>
        <table class="board_list">
            <colgroup>
                <col width="15%" />
                <col width="*" />
                <col width="15%" />
                <col width="20%" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">글번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">조회수</th>
                    <th scope="col">작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.size(list)} > 0" th:each="obj: ${list}">
                    <td th:text="${obj.boardIdx}"></td>
                    <td class="title">
                        <a href="/board/openBoardDetail.do?boardIdx=" th:attrappend="href=${obj.boardIdx}" th:text="${obj.title}"></a>
                    </td>
                    <td th:text="${obj.hitCnt}"></td>
                    <td th:text="${obj.createDt}"></td>
                </tr> 
                <tr th:unless="${#lists.size(list)} > 0 ">
                    <td colspan="4">조회된 결과가 없습니다.</td>

                </tr>
            </tbody>
        </table>
        <a href="/board/openBoardWrite.do" class="btn">글쓰기</a>
    </div>
</body>
</html>